
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  background: #2e86de;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1b4f72;
}